.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
  }

  
  .logo {
    height: 10vh;
  }
  
  .date-time {
    font-size: 4vh;
    font-weight: bold;
    text-align: right;
  }
  